.coursesList {
  list-style: none;
}
.coursesListItem {
  border: 1px solid lightgray;
  border-radius: 14px;
  margin: 10px 0;
  padding: 10px;
}

.courseTitle {
}

.modulesList {
  list-style: none;
  margin-left: 30px;
}
.moduleListItem {
}

.moduleLink {
  text-decoration: none;
  color: cornflowerblue;
}
.activeModuleLink {
  text-decoration: none;
  color: red;
}
